/* css reset */
body{
  margin: 0;
  background-color:#345 ;
  font-family: 'Oswald', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

/* LAYOUT */
.navbar{
  background-color: #222;
  font-size: 20px; 
  display: table;
  width: 100%;
}

.navbar a{
  color: white;
}

.navbar .row{
  display: table-row;
}

.navbar ul{
  /* border: 2px solid white; */
  display: table-cell;
  vertical-align: middle ;
}
.navbar ul.branding{
  padding-right: 100px;
  padding-left: 50px;
  }

.navbar ul.branding li:first-child{
  font-size: 30px;
}

.navbar ul.client{
  text-align: right;
}

.navbar li{
  display: table-cell;
  padding: 20px 10px;
  vertical-align: middle;
}


